.stripes >* {
    background-color: navy;
    color: white;
}

/* >를 쓰는 이유는 직계 자식만을 대상으로 하기 때문*/
.stripes >:nth-child(2) { 
    background-color: yellow;
    color: black;
}

.stripes >:nth-child(6) {
    background-color: yellow;
    color: black;
}

.stripes >:nth-child(10) {
    background-color: yellow;
    color: black;
}
