.container {
    width: 200px;
    height: 400px;
    margin: 0 auto;    
    border: 1px solid transparent;
    animation: bounce 5s linear infinite;
    position: relative;
}

.container2 {
    width: 200px;
    height: 100px;     
    left: -20px;
    top: 100px;      
    margin: 0 auto;
    border: 1px solid transparent;      
    position: relative;
}

.top {
    width: 100px;
    height: 100px;
    top: 100px;
    right: 0;
    background-color: plum;
    border: 1px solid transparent;
    border-radius: 50%;
    position: absolute;
}

.mid {
    width: 100px;
    height: 200px;    
    left: 0;
    bottom: 0;
    background-color: plum;
    border: 1px transparent black;
    border-radius: 200% 50px 0px 0px;
    position: absolute;
}

.shoes1 {    
    width: 50px;
    height: 20px;
    left: 20px;
    bottom: 0;    
    background-color: plum;
    border: 1px transparent transparent;
    border-radius: 20px 150% 0px 0px;        
    animation: bounce2 3s linear infinite;
    position: absolute;
}

.shoes2 {    
    width: 50px;
    height: 20px;
    left: 40px;
    bottom: 0;    
    background-color: plum;
    border: 1px transparent transparent;
    border-radius: 20px 150% 0px 0px;            
    animation: bounce3 3s linear infinite;
    position: absolute;
}

@keyframes bounce {
    0% {
        top: 0px;
    }
    50% {
        top: 20px;        
        transform: skewX(-2deg);
    }
    100% {        
        top: 0px;
    }
}

@keyframes bounce2 {
    0% {
        transform: translate3d(0);
    }
    40% {
        transform: translate3d(40px,-20px,0);
    }
    60% {
        transform: translate3d(50px,-10px,0);
    }
    100% {
        transform: translate3d(0);
    }
}
@keyframes bounce3 {
    0% {
        transform: translate3d(0);
    }
    50% {
        transform: translate3d(-40px,10px,0);
    }
    70% {
        transform: translate3d(-40px,-20px,0);
    }
    100% {
        transform: translate3d(0);
    }
}