.container {
    width: 400px;    
    height: 400px;
    position: relative;
}

.glass {
    width: 400px;    
    height: 400px;
    background-image: url("./image/glass.png");
    background-repeat: no-repeat;
    position: absolute;
}

.worm_head {
    top: 70px;
    left: 70px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 0px solid;
    background-color: darkblue;
    position: absolute;
    z-index: 2;
}

.worm_eye {
    top: 10px;
    left: 13px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0px solid;
    background-color: white;
    position: absolute;
    z-index: 7;
}

.worm_eyeball {
    top: 13px;
    left: 13px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 0px solid;
    background-color: black;
    position: absolute;
    z-index: 8;
}

.worm1 {    
    top: 120px;
    left: 120px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 0px solid;    
    background-color: blue;
    position: absolute;
    z-index: 3;
}

.worm2 {    
    top: 170px;
    left: 150px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 0px solid;    
    background-color: rgb(52, 52, 255);
    position: absolute;
    z-index: 4;
}

.worm3 {    
    top: 220px;
    left: 170px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 0px solid;    
    background-color: rgb(121, 121, 255);
    position: absolute;
    z-index: 5;
}

.worm4 {    
    top: 270px;
    left: 220px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 0px solid;    
    background-color: rgb(183, 183, 255);
    position: absolute;
    z-index: 6;
}