.container {
    width: 1000px;
    height: 500px;    
    display: flex;
    background-color: lightgray;   
    position: relative;
}

img {
    width: 200px;
    height: 250px;    
    transform: skewY(30deg);
    transition-duration: 1s;
    position: absolute;
}

.tiger {
    left: 20%;
    top: 100px;
    z-index: 1;
    position: absolute;
}

.ham {
    left: 30%;
    top: 100px;
    z-index: 2;
    position: absolute;
}

.lion {
    left: 40%;
    top: 100px;
    z-index: 3;
    position: absolute;
}

.tiger img:hover, .ham img:hover, .lion img:hover {    
    transform: skewX(0deg);
    transition: 1s;
}

.ham:hover {
    z-index: 5;
}

.tiger:hover {    
    z-index: 4;
}
