.div1{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}
/* 사용자 행동에 따라 변화하는 가상클래스선택자 */
/* :hover = 요소에 마우스를 올렸을 때 변화가 지속, 마우스를 내렸을 때 해제됨 */

.div1:hover{
    background-color: hotpink;
    width: 150px;
    height: 150px;
}

/* :active = 요소를 마우스로 클릭하고 있는 동안  */
.div1:active{
    background-color: brown;
    width: 200px;
}

/*
    :focus = 요소에 포커스가 되었을 때
    인풋태그 안에 마우스로 클릭해서 포커스 되었을 때 변화
*/

input:focus{
    background-color: violet;
    color: lightblue;
    outline-color: yellowgreen;
}

.links > a:hover{
    background-color: coral;
}

.links > a:visited{
    /* a:visited = 방문해서 변화는 글자색을 변경 */
    color: red;
}

/* 요소 상황에 따른 가상 클래스 선택자 */
.zoo > *{
    background-color: green;
    color: white;
}

/* 
    #1. E:first-child : E(요소)가 첫번째 요소라면, 별표 생략가능
*/

.zoo > *:first-child {
    background-color: red;
}

/* 
    #2. E:last-child : E(요소)가 마지막 요소라면, li 생략가능
*/

.zoo > li:last-child {
    background-color: black;
}

/* 
    #3. E:nth-child(n) : E(요소)가 n번째 요소라면
*/

.zoo > *:nth-child(2) {
    background-color: aqua;
}

/* 
    #4. E:not(XYZ) : XYZ가 아닌 요소 선택
*/

.zoo > *:not(div) {
    background-color: pink;
}

/* 가상요소 : before, after */
/* 
    - HTML 문서의 특정 부분을 스타일링하기 위해 사용.
    - 실제로 HTML 문서에 존재하지 않는 부분이지만 CSS를 통해 스타일 적용이 가능.

    Q) 가상클래스 : & 가상요소 :: 차이?
    A) CSS 사양이 발전하면서 가상클래스와 가상 요소를 명확하게 구분할 필요성이 생김.
    가상클래스 - 문서의 기존 요소 상태를 나타냄.
    가상 요소 - 문서의 특정 부분을 생성하여 스타일링함.
    그렇기에 구분하기 위해서 :: 로 표기하는 새로운 표기법을 도입.
*/

/* 실습 문제 */
/* .box::before {
    content: "택시~"
    color: red;
} */

.box::after {
    content: "빨리!";
    color: blue !important;
}

.box::after {
    content: "빨리!";
    color: green;
}