body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: burlywood;
    color: #000; /* 텍스트 색상을 변경하여 가독성을 높임 */
    padding: 10px 0;    
    width: 50%;
    height: 50px;    
    z-index: 1000;
    position: relative; /* 상대 위치 */
    margin: 0 auto; /* 수평 중앙 정렬 */
    top: 0; /* 페이지 상단에 붙임 */
    left: 0; /* 왼쪽 정렬 */
    right: 0; /* 오른쪽 정렬 */
}

.nav-container {
    position: relative;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute; /* 절대 위치 지정 */
    right: 20px; /* 오른쪽 여백 */
    top: 25px; /* 수직 중앙 정렬 */
    transform: translateY(-50%);
}

.nav-menu li {
    margin-left: 20px;
}

.nav-menu a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    display: block;
}

.nav-menu a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.nav-lmenu a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.nav-lmenu {    
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute; /* 절대 위치 지정 */
    left: 20px; /* 오른쪽 여백 */
    top: 25px; /* 수직 중앙 정렬 */
    transform: translateY(-50%);
}

.nav-lmenu a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    display: block;
}

.section {
    text-align: center;
    background-color: antiquewhite;
    border: 1px solid lightgray;        
    width: 50%;
    height: 800px;   
    position: relative;
    margin: 0 auto; /* 수평 중앙 정렬 */
    top: 0; /* 페이지 상단에 붙임 */
    left: 0; /* 왼쪽 정렬 */
    right: 0; /* 오른쪽 정렬 */
}

.sec-container {    
    width: 100%;
    height: 100px;
    display: flex;
    border-radius: 40px 40px;
    position: absolute; /* 절대 위치 지정 */
    background-color: white;
}