@font-face {
    font-family: 'Ownglyph_ryuttung-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryuttung-Rg.woff2') format('woff2');  
  }
  
* {
  font-family: 'Ownglyph_ryuttung-Rg';
  font-size: 20px;
}

@media (max-width: 768px) {  
  .navbar {
    height: 60px;
  }

  .navbar img {
    display: none;
  }

  .navbar #menu-toggle {
    margin-right: 10px;
  }

  .navbar a {
    font-size: 14px;
  }  
}

body {
    margin: 0 20px;
    scroll-behavior: smooth;  
    background-color: #f4f4f4;    
}

.home img{
  width: 50px;
  height: 50px;  
}

.home:hover {
  text-decoration: none;
}

#wrapper {    
    display: flex;
    width: 100%;
    align-items: stretch;
    position: relative;
}

#sidebar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #f8f9fa;
    border-right: 1px solid #e7e7e7;
    transform: translateX(-250px);
    transition: transform 0.5s ease-out;
    z-index: 1000;
}

#wrapper.toggled #sidebar-wrapper {
    transform: translateX(0);
}

#page-content-wrapper {
    width: 100%;
    padding: 0 20px;
    /* margin: 0 0 0 250px;     */
}

#wrapper.toggled #page-content-wrapper {
  margin-left: 250px;  
}

.sidebar-heading {
    margin-top: 100px;
    background: url(../image/quokka.jpg) no-repeat;
    border-radius: 50%;
    height: 150px;
    width: 150px;    
    margin: 50px 50px;
    background-size: cover;
    padding: 0.875rem 1.25rem;    
    font-size: 1.2rem;
}

h6 {    
    text-align: center;
    pointer-events: none;
    height: 50px;    
}

.btnMenu {     
  transition: .5s;
}

.btnMenu:hover {
    background-color: #e7e7e7;
}

.btnMenu.menuOn {
    transform: translateY(0) rotate(90deg);
}

button {
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    background: none;    
}

.summaryTemperatureHover-DS-EntryPoint1-1 {
  text-decoration: none;
  color: inherit;
}

.summaryTemperatureCompact-DS-EntryPoint1-1 {
  margin-left: 8px;
  font-size: 32px;
  line-height: 62px;    
  align-items: center;
  align-content: center;
  direction: ltr;
  /* display: flex; */
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;    
}

/************** Main 구간 ***************/
main {
  padding: 40px 20px;
  background-color: #fff;
}

.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.menu-item {
  background-color: #f8f9fa;
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.menu-item:hover {  
  background-color: blanchedalmond;
  transform: scale(1.05);
}

.menu-item img {
  max-width: 100%;
  width: 300px;
  height: 300px;
  border-radius: 8px;
}

.menu-item h3 {
  margin: 15px 0 10px;
  font-size: 18px;
}

.menu-item p {
  font-size: 14px;
  color: #555;
}

/************** 문의하기 ***************/
.contact form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

.contact form label {
  margin-bottom: 10px;
  font-weight: bold;
}

.contact form input, .contact form textarea {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
}

.contact form button {
  padding: 10px;
  font-size: 1.2em;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.contact form button:hover {
  background: #555;
}

/************** footer 구간 ***************/
footer {
  background-color: #f8f9fa;
  color: #bbb;  
  text-align: center;
}
  
.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

/* 로그인 폼 */
.login-form-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.login-form {
  /* margin-left: 10%; */
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.login-form h2 {
  margin-bottom: 20px;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.login-form button:hover {
    background: #555;
}

/* 퀵메뉴 */
.quick-menu {
  position: fixed;
  top: 650px;
  left: 0;
  transform: translateY(-50%);
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1001;
}

.quick-menu li {
  margin: 0;
}

.quick-menu li a {
  display: block;
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
}

.quick-menu li a:hover {
  background: #333;
  color: #fff;
}

.quick-menu .submenu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.quick-menu .submenu li a {
  padding: 10px 15px;
}

.quick-menu .submenu li a:hover {
  background: #444;
  color: #fff;
}